USE [master]
GO
/****** Object:  Database [MobileEstore]    Script Date: 5/19/2023 5:20:01 PM ******/
CREATE DATABASE [MobileEstore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobileEstore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MobileEstore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MobileEstore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MobileEstore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobileEstore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobileEstore]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBL] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](20) NULL,
	[MaSP] [int] NULL,
	[NoiDung] [nvarchar](1000) NULL,
	[NgayBL] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[MaCH] [int] IDENTITY(1,1) NOT NULL,
	[DoPhanGiai] [varchar](30) NULL,
	[DoRong] [nvarchar](80) NULL,
	[HeDH] [varchar](30) NULL,
	[Chip] [nvarchar](70) NULL,
	[Pin] [varchar](30) NULL,
	[Ram] [varchar](30) NULL,
	[Rom] [varchar](30) NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDH]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDH](
	[MaCTĐH] [int] IDENTITY(1,1) NOT NULL,
	[MaDon] [int] NULL,
	[MaSP] [int] NULL,
	[DonGia] [float] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTĐH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [varchar](20) NULL,
	[MaNV] [varchar](20) NULL,
	[NgayTao] [date] NULL,
	[TongTien] [float] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangSX]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSX](
	[MaHang] [varchar](30) NOT NULL,
	[TenHang] [nvarchar](30) NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[MaHinh] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[HinhAnh] [varchar](50) NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[TaiKhoan] [varchar](20) NOT NULL,
	[MatKhau] [varchar](20) NULL,
	[HoTen] [nvarchar](40) NULL,
	[Email] [varchar](40) NULL,
	[SĐT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DaXoa] [bit] NULL,
	[VaiTroKH] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [varchar](30) NOT NULL,
	[TenLoai] [nvarchar](30) NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[TaiKhoan] [varchar](20) NOT NULL,
	[MatKhau] [varchar](20) NULL,
	[HoTen] [nvarchar](40) NULL,
	[Email] [varchar](20) NULL,
	[SĐT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgaySinh] [date] NULL,
	[DaXoa] [bit] NULL,
	[VaiTroNV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[MoTa] [nvarchar](4000) NULL,
	[TrangThai] [bit] NULL,
	[MaHang] [varchar](30) NULL,
	[MaCH] [int] NULL,
	[MaLoai] [varchar](30) NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 5/19/2023 5:20:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[Id] [varchar](20) NOT NULL,
	[TenVaiTro] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([MaBL], [TaiKhoan], [MaSP], [NoiDung], [NgayBL]) VALUES (1, N'kiendz', 1, N'Hài lòng với chất lượng sản phẩm', CAST(N'2022-12-26' AS Date))
INSERT [dbo].[BinhLuan] ([MaBL], [TaiKhoan], [MaSP], [NoiDung], [NgayBL]) VALUES (2, N'kiendz', 66, N'Tôi cần hỗ trợ qua số 0232345345', CAST(N'2022-12-26' AS Date))
INSERT [dbo].[BinhLuan] ([MaBL], [TaiKhoan], [MaSP], [NoiDung], [NgayBL]) VALUES (3, N'kiendz', 92, N'Thái độ phục vụ tốt', CAST(N'2022-12-26' AS Date))
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHinh] ON 

INSERT [dbo].[CauHinh] ([MaCH], [DoPhanGiai], [DoRong], [HeDH], [Chip], [Pin], [Ram], [Rom], [DaXoa]) VALUES (1, N'1080 x 1920 pixels', N'IPS LCD, 5.5", Retina HD', N'iPhone (iOS)', N'Apple A11 Bionic', N'2691 mAh', N'3GB', N'64GB', 0)
INSERT [dbo].[CauHinh] ([MaCH], [DoPhanGiai], [DoRong], [HeDH], [Chip], [Pin], [Ram], [Rom], [DaXoa]) VALUES (2, N'1792 × 828 pixels', N'IPS LCD , 6.1 inches', N'iPhone (iOS)', N'Apple A12 Bionic', N'2942 mAh', N'3GB', N'64GB', 0)
INSERT [dbo].[CauHinh] ([MaCH], [DoPhanGiai], [DoRong], [HeDH], [Chip], [Pin], [Ram], [Rom], [DaXoa]) VALUES (3, N'750 x 1334 pixels', N'4.7 inch', N'iPhone (iOS)', N'Apple A15 Bionic', N'1821 mAh', N'3GB', N'64GB', 0)
GO
SET IDENTITY_INSERT [dbo].[CauHinh] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDH] ON 

INSERT [dbo].[ChiTietDH] ([MaCTĐH], [MaDon], [MaSP], [DonGia], [SoLuong]) VALUES (1, 1, 2, 5790000, 2)
INSERT [dbo].[ChiTietDH] ([MaCTĐH], [MaDon], [MaSP], [DonGia], [SoLuong]) VALUES (2, 1, 1, 5490000, 2)
INSERT [dbo].[ChiTietDH] ([MaCTĐH], [MaDon], [MaSP], [DonGia], [SoLuong]) VALUES (3, 1, 60, 2840000, 1)
SET IDENTITY_INSERT [dbo].[ChiTietDH] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDon], [MaKH], [MaNV], [NgayTao], [TongTien], [GhiChu], [TrangThai], [DaXoa]) VALUES (1, N'kiendz', NULL, CAST(N'2022-12-26' AS Date), 28190000, N'Giao hàng cẩn thận', N'Cancel', 0)
INSERT [dbo].[DonHang] ([MaDon], [MaKH], [MaNV], [NgayTao], [TongTien], [GhiChu], [TrangThai], [DaXoa]) VALUES (2, N'kiendz', NULL, CAST(N'2021-11-26' AS Date), 11280000, N'Giao hàng cẩn thận', N'Cancel', 0)
INSERT [dbo].[DonHang] ([MaDon], [MaKH], [MaNV], [NgayTao], [TongTien], [GhiChu], [TrangThai], [DaXoa]) VALUES (3, N'minhlong', N'tai', CAST(N'2020-10-26' AS Date), 11020000, NULL, N'Complete', 0)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
INSERT [dbo].[HangSX] ([MaHang], [TenHang], [DaXoa]) VALUES (N'IP', N'iPhone', 0)
INSERT [dbo].[HangSX] ([MaHang], [TenHang], [DaXoa]) VALUES (N'OP', N'Oppo', 0)
INSERT [dbo].[HangSX] ([MaHang], [TenHang], [DaXoa]) VALUES (N'RM', N'Realme', 0)
GO
SET IDENTITY_INSERT [dbo].[HinhAnh] ON 

INSERT [dbo].[HinhAnh] ([MaHinh], [MaSP], [HinhAnh], [DaXoa]) VALUES (1, 1, N'iphone-8plus.jpg', 0)
INSERT [dbo].[HinhAnh] ([MaHinh], [MaSP], [HinhAnh], [DaXoa]) VALUES (2, 1, N'iphone-8plus-2.jpg', 0)
INSERT [dbo].[HinhAnh] ([MaHinh], [MaSP], [HinhAnh], [DaXoa]) VALUES (3, 1, N'iphone-8plus-3.jpg', 0)
GO
SET IDENTITY_INSERT [dbo].[HinhAnh] OFF
GO
INSERT [dbo].[KhachHang] ([TaiKhoan], [MatKhau], [HoTen], [Email], [SĐT], [DiaChi], [DaXoa], [VaiTroKH]) VALUES (N'kiendz', N'1234', N'Võ Quang Kiên', N'kiend01@gmail.com', N'0857493743', N' TP HCM 4', 0, N'KH')
INSERT [dbo].[KhachHang] ([TaiKhoan], [MatKhau], [HoTen], [Email], [SĐT], [DiaChi], [DaXoa], [VaiTroKH]) VALUES (N'minhlong', N'123', N'Nguyễn Minh Long', N'longmt@gmail.com', N'0947583927', N'Quang Trung, quận Gò Vấp, TP HCM', 0, N'KH')
INSERT [dbo].[KhachHang] ([TaiKhoan], [MatKhau], [HoTen], [Email], [SĐT], [DiaChi], [DaXoa], [VaiTroKH]) VALUES (N'nam', N'123', N'Nguyễn Nam', N'abc@gmail.com', N'0123456789', N'ABC', 0, N'KH')
GO
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai], [DaXoa]) VALUES (N'DT', N'Điện thoại', 0)
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai], [DaXoa]) VALUES (N'PK', N'Phụ Kiện', 0)
GO
INSERT [dbo].[NhanVien] ([TaiKhoan], [MatKhau], [HoTen], [Email], [SĐT], [DiaChi], [NgaySinh], [DaXoa], [VaiTroNV]) VALUES (N'co', N'123', N'Đặng Văn Có', N'codv@gmail.com', N'0808475639', N'HCM', CAST(N'2002-09-09' AS Date), 0, N'NV')
INSERT [dbo].[NhanVien] ([TaiKhoan], [MatKhau], [HoTen], [Email], [SĐT], [DiaChi], [NgaySinh], [DaXoa], [VaiTroNV]) VALUES (N'hung', N'123', N'Trần Huy Hưng', N'hungth@gmail.com', N'0903423218', N'HCM', CAST(N'2000-08-08' AS Date), 0, N'NV')
INSERT [dbo].[NhanVien] ([TaiKhoan], [MatKhau], [HoTen], [Email], [SĐT], [DiaChi], [NgaySinh], [DaXoa], [VaiTroNV]) VALUES (N'huy', N'123', N'Phan Vũ Nhật Huy', N'huypvn@gmail.com', N'0859473453', N'HCM', CAST(N'2002-10-10' AS Date), 0, N'NV')
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [DonGia], [MoTa], [TrangThai], [MaHang], [MaCH], [MaLoai], [DaXoa]) VALUES (1, N'iPhone 8 Plus 64GB', 100, 5490000, N'Iphone 8 plus', 1, N'IP', 1, N'DT', 0)
GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro]) VALUES (N'KH', N'Khách hàng')
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro]) VALUES (N'NV', N'Nhân viên')
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro]) VALUES (N'QL', N'Quản lý')
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[KhachHang] ([TaiKhoan])
GO
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD FOREIGN KEY([MaDon])
REFERENCES [dbo].[DonHang] ([MaDon])
GO
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([TaiKhoan])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([TaiKhoan])
GO
ALTER TABLE [dbo].[HinhAnh]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([VaiTroKH])
REFERENCES [dbo].[VaiTro] ([Id])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([VaiTroNV])
REFERENCES [dbo].[VaiTro] ([Id])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaCH])
REFERENCES [dbo].[CauHinh] ([MaCH])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangSX] ([MaHang])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoai])
GO
USE [master]
GO
