
	<div class="header" xmlns:th="http://www.thymeleaf.org">
		<div class="container">
			<div class="logo">
				<h1><a href="/home"><b>T<br>H<br>E</b>MS Store<span>Siêu thị miền Trung</span></a></h1>
			</div>
			<div class="head-t">
				<ul class="card">
					<li><a href="/home/check-out/history"><i class="fa fa-heart" aria-hidden="true"></i>Lịch sử đơn hàng</a></li>
					<li><a href="/home/login"><i class="fa fa-user" aria-hidden="true"></i>Đăng nhập</a></li>
					<li><a href="/home/register"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đăng ký</a></li>
					<li th:if="${session.taiKhoan}"><a href="/home/account"><i class="fa fa-user" aria-hidden="true"></i>Tài khoản</a></li>
				</ul>
			</div>

			<div class="nav-top">
				<nav class="navbar navbar-default">

					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
							data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>


					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav ">
							<li class=" active"><a href="/home" class="hyper "><span>Trang chủ</span></a></li>

							<li class="dropdown ">
								<a href="/home" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>Danh mục<b
											class="caret"></b></span></a>
								<ul class="dropdown-menu multi">
									<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<th:block th:each="categori : ${categoris}">
													<li><a th:href="|/product/${categori.tenLoai}|"><i class="fa fa-angle-right"
																aria-hidden="true" data-user="${categori.tenLoai}"
																th:text="${categori.tenLoai}"></i></a></li>
												</th:block>
											</ul>

										</div>
										<div class="col-sm-3 w3l">
											<a th:href="|/product|"><img src="/images/me.png" class="img-responsive"
													alt=""></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li><a href="contact.html" class="hyper"><span>Liên hệ</span></a></li>
							<li><a href="contact.html" class="hyper"><span>Tin tức</span></a></li>
							<li><a href="about.html" class="hyper"><span>Giới thiệu</span></a></li>
						</ul>
					</div>
				</nav>
				<div class="cart">

					<span class="fa fa-shopping-cart my-cart-icon"><span
							class="badge badge-notify my-cart-badge"></span></span>
				</div>
				<div class="clearfix"></div>
			</div>

		</div>
	</div>